*{
  margin: 0px;
  padding: 0px;
}

.headers{
  border: 1px solid blue;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: brown;
  color: aliceblue;
  font-weight: bold;
  align-items: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  
}